/* --- ESTILOS GLOBAIS DE BASE --- */
.home-container {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.main-content {
  position: relative;
  min-height: 100vh;
  padding-top: 0;
}

/* ============================
   HERO SECTION
   ============================ */
.hero-section {
  width: 100%;
  min-height: 105vh;
  position: relative;

  background-image: url('../assets/backgroundlinear.png');
  background-repeat: no-repeat;
  background-position: left top;

  /* valor equilibrado entre os dois */
  background-size: clamp(500px, 62vw, 900px) 112%;

  background-color: #fcfdff;
}

/* ============================
   CONTEÚDO PRINCIPAL
   ============================ */
.hero-content-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  left: 48%;
  transform: translateX(-50%);
  top: 25%;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding: 0 35px;
}

/* TEXTO */
.text-content {
  color: #ffffff;
  max-width: 500px;
  z-index: 10;
  font-size: 20px;
}

.hero-title {
  font-size: 3.2rem;
  font-family: 'Fredoka One';
  margin-bottom: 0.5rem;
  font-weight: 800;
  line-height: 1.1;
  color: white;
}

.highlight {
  color: #4bc3cc;
  background: white;
  padding: 0.2rem 0.5rem;
  font-size: 2.2rem;
  font-weight: 900;
  display: inline-block;
  transform: rotate(-3deg);
  border-radius: 7px;
}

/* IMAGEM */
.hero-image-overlay {
  position: relative;
  width: 500px;
  z-index: 10;
}

.hero-image {
  width: 120%;
  height: auto;
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.3));
}

/* BOTÃO */
.cta-button {
  background: white;
  color: #4bc3cc;
  border: none;
  padding: 1rem 2.5rem;
  font-size: 1.1rem;
  font-family: 'Fredoka One';
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}